*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(galaxy1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 3% 5%;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.nav-menu{
    flex: 1;
    text-align: right;
}
.nav-menu ul li{
list-style: none;
display: inline-block;
margin: 0px 12px;
position: relative;
}
.nav-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
} 
.nav-menu ul li ::after{
    content: '';
    width: 0px;
    height: 5px;
    background: greenyellow;
    display: block;
    margin: auto;
    position: absolute;
    bottom: -5px;
    transition: .5s;

}

.nav-menu ul li :hover::after{
 width: 100%;
}
.profile-img{
    width: 20%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(100%, -25%);
}
.title{
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    padding-left: 5%;
    
}
.title a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 13px 30px;
    font-size: 14px;
}
.title h1{
    font-size: 60px;
}
.title p{
    margin: 10px 0 40px;
    font-size: 15px;

    

}
.title a:hover{
background: greenyellow;
border: 2px solid green;
transition: .1s;
}